.footer {
    background-color: #292424;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
}

.footer-logo {
    max-width: 50px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-links a {
    margin: 0 20px;
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer p {
    color: grey;
}