.footer {
    background-color: #292424;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    width: 100%;
    color: white;
    height: 150px;
}

.footer-logo {
    max-width: 50px;
    margin-top: 20px;
 
}

.footer-links {
    margin: 20px;
}



.footer-links a:hover {
    text-decoration: underline;
}

.footer p {
    color: grey;
}